@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

input::file-selector-button{
  background-color:#444073 ;
  color:white;
  height:3rem;
  border-radius: 10%;

}
input::file-selector-button:hover{

  cursor:pointer;

}

::-webkit-scrollbar-track {
  background: #171626; /* Track color */
}

#deleteIcon:hover{

  cursor:pointer;
}

::-webkit-scrollbar-thumb {
  background: #ff8c00; /* Thumb color */
  border-radius: 5px; /* Rounded corners */
}
*{
 
  font-family: 'Lato';
  ::placeholder {
    text-align: center;
  }
  
}
#conversacion{
  display: flex;
  flex-direction: column-reverse; /* 'column' for start, 'column-reverse' for end */
  overflow-y: auto; 
}
.incomingMessageBubble {
  
  border-radius:0 15px 15px 15px; /* top-left, top-right, bottom-right, bottom-left */
  padding: 10px 15px;
  max-width: 70%; /* Adjust according to your layout */
  margin: 10px; /* Adjust as needed */
}

.outgoingMessageBubble{
  border-radius:15px 15px 0px 15px; /* top-left, top-right, bottom-right, bottom-left */
  padding: 10px 15px;
  max-width: 70%; /* Adjust according to your layout */
  margin: 10px; /* Adjust as needed */
  align-self: flex-end;
}


#chatBox {
  
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;

}

#chatBox:focus {
  border-color: #ff8c00; /* Change focus color as needed */
}






@media(max-width:1200px){
  .publicacion,#comment-section,.community-info{
    width: 60%;
  }
 



}

@media(max-width:1000px){
 
 
}


.placeholder-center::-webkit-input-placeholder {
  text-align: center;
}

  
  @media  (max-width: 900px){
    /* CSS styles to apply when the viewport width is between 600px and 900px */
        #carusel{
            display:none;
        }
  }

  @media(max-width:800px){

    .publicacion,#comment-section,.community-info{
      width: 80% !important;
    }

  

    .imagenComunidad {
      
    

    }

    body{
    
      padding:5% !important; 
      
    }

    #menuMovil{
      display:block;
    }

    #feed{
      
      display:flex;
      flex-direction: column;
      justify-content: center;
    }


   

   #header-feed{
    flex-direction: column;
   
   }
   #header-logo{
    width:100%;
    padding-bottom:10px;
   }

    #search-bar{
   
      width: 100%;
 
     
    }
  

   


   
    #communityButtons{
    
      width: 100%;
    }

    .info{
    
     
    }

   .Reco-Imagen {
    width:100%;
   }
  
    .post-footer span img{

     
     width: 50%;

    }
    #menu {
      display:none;
    }

    .letraObjetoMenu{

      font-size:0.8rem !important;

    }
  

   
  }


  
@media  (max-width: 500px){
  /* CSS styles to apply when the viewport width is between 600px and 900px */
  .publicacion,#comment-section,.community-info{
  
    width:100% !important;
  }


  .bienvenida,.mensajePrincipal{
  
    font-size:1em !important;
  }
  

  .campoFormularioPrincipal{
          flex-direction: column !important;
          align-items: center;
        
      }

      #Recommendations{
        width: 100%;
        
        
      
      }
      #recommendationText * {
        font-size: 100%;
       
      }

      #recommendationText {
        padding:2px !important;
      }
  
      .reco-cards{
        flex-direction: column;
        width: 100%;
        
  
      }
  
   
  
      #individualReco   {
       width: 100%;
        
      }

}
