@font-face {
  font-family: 'Kanit';
  src: url('./fonts/Kanit/Kanit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


  @font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/static/Nunito-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Playwrite';
    src: url('./fonts/Playwrite_GB_S/PlaywriteGBS-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

 

* {
  font-family:'Nunito'
}

.Kanit {
  font-family: 'Kanit' !important;
}



#header-feed{
  /* background-color: red; */
  z-index:3;
}

#mensajes {
  z-index:4;
}
#carusel img {
  width:100%;
  
}

::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}


.selectedPage {
  background-color: #444073;
  color: #ff8c00;
}

#formRegister div input, #form div input{

 
  margin:5px;

}

.pageSelector {
  /* ' cursor-pointer items-center  p-2 w-2/4 flex justify-center '
   */

   cursor:pointer;
   display:flex;
   justify-content: center;
   align-items: center;
   width:50%;
   padding:2px;
   font-size: 1.1rem;
   font-weight: bold;


}

@media(max-width:450px){
  #communityButtons {
    display: flex;
    flex-direction: column;
    
    width: 100%;
  
  }

#communityButtons * {
 margin-bottom:1rem;
  width: 100%
}

}


@media(min-width:801px){

  #chatActual,#chatList{
    display:block !important;
    /* background-color: red; */
  };

  }

input::file-selector-button{
  background-color:#444073 ;
  color:white;
  height:3rem;
  border-radius: 10%;

}
input::file-selector-button:hover{

  cursor:pointer;

}

::-webkit-scrollbar-track {
  background: #171626; /* Track color */
}

#deleteIcon:hover{

  cursor:pointer;
}

::-webkit-scrollbar-thumb {
  background: #444073; /* Thumb color */
  border-radius: 5px; /* Rounded corners */
}

#conversacion{
  display: flex;
  flex-direction: column-reverse; /* 'column' for start, 'column-reverse' for end */
  overflow-y: auto; 
}
.incomingMessageBubble {
  
  border-radius:0 15px 15px 15px; /* top-left, top-right, bottom-right, bottom-left */
  padding: 10px 15px;
  max-width: 70%; /* Adjust according to your layout */
  margin: 10px; /* Adjust as needed */
}

.outgoingMessageBubble{
  border-radius:15px 15px 0px 15px; /* top-left, top-right, bottom-right, bottom-left */
  padding: 10px 15px;
  width: 70%;
  margin: 10px; /* Adjust as needed */
  align-self: flex-end;
   /* Prevent word breaks within words */
}


#replyBox input:focus{
      
 border-color:#444073;
  outline:none;
 

}

#chatBox {
  
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;

}

#chatBox:focus {
  border-color: #ff8c00; /* Change focus color as needed */
}






@media(max-width:1200px){
  .publicacion,#commentBox,#logout,#vetoMenu,#feedLoader,#popUp,#logout,#comment-box,.comment,.community-info{
    width: 50% !important;
    
  }
  
  #popUp{
    left:25% !important
  }



}




@media(max-width:1100px){
 #lateralMenu {
 
  width:40% !important;
}
#adminpanel-body{
margin-left:0 !important;
}
 

#burger-menu {
  display:block;

}

  #options{

    width:33% !important

  }
  #mods{
    width:30%;
  }

  #formCrearComunidad,#createForm {
    width: 80% !important;
   
  }

  #mensajes {
    width:80% !important;
  }

  #logoDebateo{
    display:none;
  }

  

  #userData {
    width:70%
  }

 
   #header-logo{
    width:100%;
    padding-bottom:10px;
   }

    #search-bar{
      
      width: 80%;
      /* margin-right:10% */
      margin-left:2%;
      margin-right:2%;
    }
 
    #menu {
      /* background-color: red !important; */
      width: 100%;
    }
  
    /* #menu *   {
      
      width:80%;
      display:flex;
      flex-direction: column;
      background-color: #171626;
      
     
    

    } */

    #incomingMessagePopUp{
      width:60% !important
    }

    .letraObjetoMenu{
      
      display:flex;
      justify-content: center;
      align-items: center;
      height:100% !important;
      
      
      
    }
    #adminpanel-body {
      width:90%;
    }
    #header-feed img {
      margin-left:0 !important;
      
    }

    #logoDebateo {
      width:10% !important;
    }
  
}


.placeholder-center::-webkit-input-placeholder {
  text-align: center;
}

  
  @media  (max-width: 900px){
    /* CSS styles to apply when the viewport width is between 600px and 900px */
        #carusel{
            display:none;
        }

        .commentButtons{
          width:20% ;
        }

        #formRegister {
          width:70%;
        }

  }


  @media(max-width:700px){
    #userData {
      width: 100%;
    }

    .community-image {
      width:30% !important;
    }

    .community-name{
      width:70% !important;
    }
  }


  @media(max-width:800px){

    /* .community-image {
      width:30% !important;
    }

    .community-name{
      width:70% !important;
    } */

    #options,#mods,#banned{

      width:90% !important;
      margin-bottom: 5%;
  
    }

    #adminpanel-sections {
      display: flex;
      flex-direction: column;
    }
  
    .publicacion,#commentBox,#feedLoader, #logout,#vetoMenu,#popUp,#comment-box,.comment,.community-info,#userData,#profileUploads{
      width: 80% !important;
    }
    #formCrearComunidad,#createForm {
      width: 90% !important;
     
    }

  
  
  
    #profile-body{
      width: 100%;
    }



#lateralMenu,#lateralMenuRight {
  width:80% !important;
  top:7% !important;
}

    

   

    #feed{
      
      display:flex;
      flex-direction: column;
      justify-content: center;
    }


   


  

   


   
    #communityButtons{
    
      width: 100%;
    }

    

   .Reco-Imagen {
    width:100%;
   }
  
    .post-footer span img{

     
     width: 50%;

    }
   

   


    .backIcon {
      display:block !important
    }


    #mensajes{
      position:fixed !important;
      width: 100% !important;
      height:100% !important;
      top:0!important;
      left:0!important;
      /* background-color: red; */
      


      
      
    }

    #popUp {
      left:10% !important
    }


    .postMenuButtons{
      left:50%
    }



    #chatList{
      
      width:100%;
      /* z-index:3; */
      
    }

    #chatActual{
      /* background-color: yellow!important; */
      width:100%;
      display:none;
     
    }

    

    #formRegister {
      width: 70%;
    }

   

    
    

    #fyp{
      width:70%;
    }

  

   
  }

@media (max-width: 650px){
  
#lateralMenu {
  
  top:5% !important;
}
#adminpanel-body{
  width: 100%;
}
#bannedHeader,#modsHeader {
  flex-direction: column !important;
  align-items: center;

}
#bannedHeader button {
  margin-left:0; 
  width:100%;
}
#modsHeader button {
  margin-left:0; 
  width:100%;
}


#adminpanel-body{

  flex-direction: column !important;
  align-items: center;


}
#adminPanelLeft{
  width:100%;
}

}
  
@media  (max-width: 500px){
  /* CSS styles to apply when the viewport width is between 600px and 900px */
  #burger-menu{

    width:10% !important
  }

  #logoDebateo{
   
    width:15% !important

  }


 
  .publicacion,#commentBox,#popUp,#logout,#vetoMenu,#comment-box,.comment,.community-info,#userData,#profileUploads{
  
    width:100% !important;
  }
#formRegister{
  width: 100%;
}

#adminpanel-body {
  width:100%;
}
#lateralMenu {
  width:70% !important;
}


#incomingMessagePopUp{
  width:90% !important
}

  .bienvenida,.mensajePrincipal{
  
    font-size:1em !important;
  }
  
  #popUp {
    left:0% !important
  }
  .campoFormularioPrincipal{
          flex-direction: column !important;
          align-items: center;
        
      }

      #Recommendations{
        width: 100%;
        
        
      
      }
     

      #recommendationText {
        padding:2px !important;
      }
  
      .reco-cards{
        flex-direction: column;
        width: 100%;
        
  
      }
  
   
  
      #individualReco   {
       width: 100%;
        
      }

}

@media (max-width:370px){
  .community-image {
    width:40% !important;
  }

  #lateralMenu {
    width:70% !important;
  }
  

  .community-name{
    width:60% !important;
  }
}

#formRegister div input::placeholder {

  font-family: 'Kanit';


}

#searchBarInput{
 background-image:url('./img/search.png');
 background-repeat: no-repeat;
 background-position:3%;
 background-size:30px;
 padding-left:12%  !important;
}

/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Create a custom checkbox */
.custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  font-size: 16px;
}

.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  background-color: #444073 ;
  border-radius: 4px;
  position: relative;
  margin-right: 10px;
  transition: background-color 0.2s;
}

/* On hover, change background color of the checkbox */
.custom-checkbox:hover .checkmark {
  /* background-color: #ff8c00; */
}

/* Create the checkmark (hidden by default) */
.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  /* border: solid #444073; */
  /* border-width: 0 2px 2px 0; */
  transform: rotate(45deg);
}

/* When the checkbox is checked, change background color and show the checkmark */
.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #ff8c00 ;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  display: block;
}

@media(min-width:1101px){
  #burger-menu{
    display:none
  }

 
 
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      
  }

  5% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }


  40%{
    opacity: 1;
  }

  60%{
    opacity: 1;
  }



95%{
  opacity:1;
}
  
  100%{
    opacity:0
  }



}

.animate-notification {
  animation: fadeInUp 4s ease-out forwards;
}

#incomingMessagePopUp{
border-radius:30px 30px 0 30px !important; /* top-left, top-right, bottom-right, bottom-left */
}

/* .overlay {
  opacity:0.2 ;

} */


.noscroll{
  overflow: hidden !important;
}

#uploadComment,#searchUserVetoMenu{
  border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.EmojiPickerReact{

  /* background-color: red !important; */
  --epr-bg-color: #171626 !important;
  --epr-category-label-bg-color:#171626 !important;
  --epr-text-color:#ff8c00 !important;
  --epr-search-input-bg-color:#171626 !important;
  --epr-search-border-color:#ff8c00 !important;
  --epr-picker-border-color: #444073 !important;
  --epr-emoji-hover-color:#444073 !important;
  --epr-search-input-bg-color-active: #171626 !important;
 
}

.EmojiPickerReact * {
  border-color: #444073 !important;
  font-family:'Kanit' !important;
}

html, body {
  height: 100%;
}


/* Customize the label (the checkLabel) */
.checkLabel {
  display: block;
  position: relative;
  padding-left: 3%;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: #444073;
  border-radius: 20%;
}

/* On mouse-over, add a grey background color */
/* .checkLabel:hover input ~ .checkmark {
  background-color: #ccc;
} */

/* When the checkbox is checked, add a blue background */
.checkLabel input:checked ~ .checkmark {
  background-color: #ff8c00;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkLabel input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
