@font-face {
    font-family: 'Comfortaa';
    src: url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
}
@font-face {
    font-family: 'Roboto',sans-serif;
   src : url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
}


#root {
    background: linear-gradient(to bottom, #444073,#12111e);
    width:100%;
    height:100vh;
   
    
}

/* HEADER */

#header {
    display:flex;
    align-items: center;
    border-bottom: 1px solid black;
    font-family: 'Comfortaa',sans-serif !important;
   
    
    
}
.carousel-inner img {
  margin: auto;
}

#header img {
    margin-right:auto;
}
#formularioLogin {
    
    display:flex;
    align-items: center;
    height:30%;
    padding-right:10%;
  
}

/* BODY */

#body{
display:flex;
justify-content: space-around;
/* padding-left:10%;
padding-right:10%; */
}

#carusel{
   
    /* background-color: red; */
    width:50%;
    height:30vh;
}

#formularioRegistro{
    display:flex;
    flex-flow:column;
   font-family: 'Comfortaa';
    width:50%;
    height:50vh;
    padding-right:10%;
}

#formularioRegistro * {
    
    width:100%;
    
    
    
    

}

/*GENERAL*/
h1{
    color:white;
}
input {
    color:white !important;
    font-family: 'Comfortaa',sans-serif !important;
}

label {
    color:white !important;
    font-family: 'Comfortaa',sans-serif !important;
}

button {
    color: black !important;
    background-color: #ff8c00!important;
    font-family: 'Comfortaa',sans-serif !important  ;
   text-transform: none !important;
   font-size:110% !important;
}

#formularioRegistro button {
    margin-top:30px;
}

#registerResponse{
   
    position: relative;
    top:30%;
    left:130%;
    
}

body {
    overflow:hidden;
}


@media (max-width:1176px) {
    #header {
        /* background-color: red; */
    }

    #header #formularioLogin {
        /* background-color: yellow; */
        
        flex-flow: column;
    }

}


@media (max-width:821px) {
    #header img {
        width:200px;
    }


}


@media (max-width:960px){
    #body  #carusel {
        display:none;
    }

    #registerResponse {
      display:none;

    }

    html,body{
        height:100%;
        

    }

    #root {
        overflow-y:scroll;
    }

    
}

