

/* 
#header{
    background-color :#444073;
    
    display:flex;
    width:100%;
    height:20vh;
    align-items:center;
    color:white;
    border-bottom: 1px solid #12111e;
    

    
}


 label{
    color:white !important;
   
    
    
    
}
 input{
    color:white !important;
    
    
}






#carusel {
    width:50%;
   

    
   
   
    
}

#formularioRegistro * {

    margin:10px;
    width:100%;
    

}

#formularioRegistro{
    
    color:white;
    
    width:50%;
    height:80vh;
    padding:5%
  
}

#formularioRegistro {
    
    height:100%;
}

.carusel-tamano{
    height:50vh;
    
}


#header img {
    
    width:20%;
    margin-right:auto;
}



#header button{
    background-color:#ff8c00;
    color:black;
   
}

#formularioRegistro button {
    background-color:#ff8c00;
    
}



#body{
    display:flex;
    justify-content: space-around;
    background: linear-gradient(to bottom, #444073,#12111e);
    height:80vh;
  

}

#carusel img{
    width:100%;
    height: 70vh;
}


#root{
    width:100%;
    
    
    height:100vh
}

 */ 


