
/*#ff8c00
#444073
#12111e
  COLORES SECUNDARIOS*/
#header{
    background-color :#444073;
    
    display:flex;
    width:100%;
    height:20vh;
    align-items:center;
    color:white;
    

    
}



#carusel {
    width:50%;
   

    
   
   
    
}

#formularioRegistro{
    
    color:white;
    
    width:50%;
    height:80vh;
    padding:5%
  
}

#formularioRegistro > h1 {
   
}

.carusel-tamano{
    height:50vh;
    
}


#header img {
    
    width:20%;
    margin-right:auto;
}

#header input{

    height:5vh;
    

}

#header button{
    background-color:#ff8c00;
   
}

#formularioRegistro button {
    background-color:#ff8c00;
}



#body{
    display:flex;
    justify-content: space-around;
    background: linear-gradient(to right, #12111e,#444073);
  

}

#carusel img{
    width:100%;
    height: 70vh;
}


#root{
    width:100%;
    
    
    height:100vh;
   
}



#footer{
    background-color: antiquewhite;
}


#loginForm {
    display:flex;
    flex-wrap:wrap;
}