#comments {
    display: flex;
    justify-content: center;

    width:100%;
  
    /* background-color: red; */
}

#comments #comments-post {
    /* background-color: red; */
    margin-top:10%;
    width: 50%;

    
}

#comment-section {
 
    width:70%;
    margin: 20%;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment{

    min-height: 15%;
    padding: 10px;

    color:white;
    background-color:#444073;
    border-radius: 10px;

}

.comment * {
    display: block;
   
}
.comment :first-child{
   color:#ff8c00;
   border-bottom: 2px solid #ff8c00;
  
}

#comment-box {
/* background-color: #444073; */
border:2px solid #ff8c00;
border-radius: 10px;
    margin-bottom:10%;
    width:50%;
    display:flex;
    flex-direction: column;
    padding:10px;

}

#comments-response div {
    margin-bottom:10%;
    min-height:100px;
}

#comments-response{
    min-width:70%;
    /* background-color: red; */
}

