#createForm {
    /* background-color: black; */
    width: 70%;
    /* height:30vh; */
    display:flex;
    align-items: center;
    flex-direction: column;
     background-color: #444073;
     box-shadow: inset;
     color:white;
     margin-top:10%;
    border-radius: 10px;
    
  }

  #createForm form *{
    margin-top:5px;

  }

  #create{
 
  display: flex;
  flex-direction: column;
 
  align-items: center;
  }

  
  #createForm div{
  width: 100%;
  color:white;
  font-family: 'Comfortaa',sans-serif !important;
  }
  
  #createForm button {
    /* margin-top:10px; */
  }
  
