#header-feed img{
    width:10%;
    
    
}

#header-feed #search-bar {
    width:20% !important;
    position: relative;
 
}

#header-feed #search-bar * {

    width:100%;
}

#menu img {
    width:50%;
    
}

#menu{
    display:flex;
    /* background-color: red; */
    width:20%;
    
}

#menu div:hover {
    border-bottom: 1px solid #ff8c00;
    cursor: pointer;
}

#menu * {
    display: flex;
    flex-flow:column;
    /* justify-content: center; */
    align-items: center;
    
    width:100%;
}

#menu * img {
    width:50px;
}



#header-feed {
    border-bottom: 1px solid #ff8c00;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:90%;
    
}

#header-feed * {
    border-color:#ff8c00;
}

#searchResult{
    background-color: #444073;
    position: absolute;
}
#searchResult *{
   padding:10px;
   /* border-bottom:1px solid #ff8c00; */
   background-color: #444073;
   cursor:pointer;

}
#searchResult *:hover {
    background-color: #ff8c00;

}

#header-feed *  {

    color:white;
    border-radius:20px;
  
    
}

#feed {
    display: flex;
    flex-direction: column;
   
    align-items: center;
}

#body-feed {
    
    width:100%;
    /* background-color: yellow; */
    display:flex;
    justify-content: center;
    align-items: center;
   
    width:50%;
    margin-top:5%;
    border-radius:10%;
    height: 100%;
   
    flex-direction: column;
}

.body-post {
   
   padding:2%;
   overflow: hidden;
   border-top:1px solid #ff8c00;
   border-left:1px solid #ff8c00;
   border-right:1px solid #ff8c00;
   border-bottom:5px solid #ff8c00;
 
  margin-top:10%;
   
    background-color: #12111e;
    max-width:100%;
    min-width: 100%;
 
    display: flex;
    flex-direction: column;
   border-radius:10px;
    /* height:100vh; */
   
} 







.post .post-header{
    /* background-color: blue; */
    width: 100%;
    /* height:10%; */
    color:white;
    /* border:1px solid #ff8c00; */
    border-bottom:5px solid #444073;
    


   
}
.post-info {
    /* background-color: red; */
    display:flex;
    align-items: center;
    cursor: pointer;

    
   
    
}

.post-header h4{
    margin-top:3%;
   
}

.sub {
    font-size:smaller
}

.post-info :hover{
    border-bottom: 1px solid #ff8c00;
}

.post-info h1{
    color:#ff8c00;
}

.post-info img {
    border-radius: 50%;
    width:5%;
    max-height: 10vh;
  

}

.post .post-body{
    /* background-color: purple; */
    /* height:80%; */
    color:white;
    word-break:break-all;   
    overflow-y: auto;
    /* background-color: red; */
    display:flex;
    
    flex-direction: column;
   max-height:50vh;
     border-bottom:5px solid #444073;
   padding:20px;
}

.post .post-body .image img{
    /* background-color: purple; */
    /* height:100%; */
    color:white;
    width:80%;
    max-width:500px;
    max-height:600px;
    
   
}

.post .post-body .image {
    display: flex;
    justify-content: center;
}

.post .post-header img {
    max-width:30%;
}

.post .post-footer{
    /* background-color: yellow; */
    /* height:10%; */
    color:white;
    padding-top:5%;
    
    /* border:1px solid #ff8c00; */
}

.post-footer  {
 display:flex;
 /* background-color: red; */
 align-items: center;
 
 /* height:1000px !important; */
}

.post-footer button{
width:20% !important;
margin-left:auto !important;
}

.post-footer img {
    margin-left:10px;

}

.post-footer img:hover{
   transform:scale(1.5);
   cursor:pointer;
   
}

.post-footer img {
    width:30px !important;
    height:30px !important;

}



html {
    height:100%;
}