#header-feed img{
    width:10%;
    
    
}

#header-feed #search-bar {
    width:20% !important;
    position: relative;
 
}

#header-feed #search-bar * {

    width:100%;
}

#menu img {
    width:50%;
    
}

#menu{
    display:flex;
    /* background-color: red; */
    width:20%;
    
}

#menu div:hover {
    border-bottom: 1px solid #ff8c00;
    cursor: pointer;
}

#menu * {
    display: flex;
    flex-flow:column;
    /* justify-content: center; */
    align-items: center;
    
    width:100%;
}

#menu * img {
    width:50px;
}



#header-feed {
    border-bottom: 1px solid #ff8c00;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:90%;
    
}

#header-feed * {
    border-color:#ff8c00;
}

#searchResult{
    background-color: #444073;
    position: absolute;
}
#searchResult *{
   padding:10px;
   /* border-bottom:1px solid #ff8c00; */
   background-color: #444073;
   cursor:pointer;

}
#searchResult *:hover {
    background-color: #ff8c00;

}

#header-feed *  {

    color:white;
    border-radius:20px;
  
    
}

#feed {
    display: flex;
    flex-direction: column;
   
    align-items: center;
}

#body-feed {
    
    width:100%;
    display:flex;
    justify-content: center;
    /* background-color: #12111e; */
    width:50%;
    margin-top:2%;
    border-radius:10%;
    height: 100%;
   
    flex-direction: column;
}

.body-post {
   
   padding:2%;
   overflow: hidden;
   border-bottom:5px solid #ff8c00;
 
  margin-bottom:10%;
   
    background-color: #12111e;
    width:100%;
    display: flex;
    flex-direction: column;
   border-radius:10px;
    /* height:100vh; */
   
} 





.post {
    
    


}

.post .post-header{
    /* background-color: blue; */
    width: 100%;
    /* height:10%; */
    color:white;
    /* border:1px solid #ff8c00; */
    border-bottom:1px solid #444073;


   
}


.post .post-body{
    /* background-color: purple; */
    /* height:80%; */
    color:white;
    word-break:break-all;   
    overflow-y: auto;
    /* background-color: red; */
   max-height:80vh;
   
   padding:20px;
}

.post .post-body  img{
    /* background-color: purple; */
    /* height:100%; */
    color:white;
    width:100%;
    height:80%;
    
   
}

.post .post-footer{
    /* background-color: yellow; */
    /* height:10%; */
    color:white;
    
    /* border:1px solid #ff8c00; */
}

.post-footer  {
 display:flex;
 
 /* height:1000px !important; */
}

.post-footer img {
    margin-left:10px;

}

.post-footer img:hover{
   transform:scale(1.5);
   cursor:pointer;
   
}

.post-footer img {
    width:30px !important;
    height:30px !important;

}



html {
    height:100%;
}