@font-face {
    font-family: 'Comfortaa';
    src: url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
}
@font-face {
    font-family: 'Roboto',sans-serif;
   src : url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
}


#root {
    background-color: #12111e;
    width:100%;
    min-height:100%;
}

body,html {
    height:100%!important;
}

/* HEADER */

#header {
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ff8c00;
    font-family: 'Comfortaa',sans-serif !important;
   
    
    
   
    
    
}
.carousel-inner img {
  margin: auto;
}




/* BODY */

#body{
display:flex;
justify-content: space-around;
margin-top:100px;

/* padding-left:10%;
padding-right:10%; */
}

#carusel{
   
    /* background-color: red; */
    width:50%;
    height:30vh;
}

#form{
    display:flex;
    flex-flow:column;
   font-family: 'Comfortaa';
   
   justify-content: center;
    width:50%;
    height:50vh;
    padding-right:10%;
}
#form h5 {
   cursor:pointer; 
   margin-top:20px;
   color: #ff8c00;
}
#form * {
    
    width:100%;
    
    
    
    

}

/*GENERAL*/
h1{
    color:white;
}
input {
    color:white !important;
    font-family: 'Comfortaa',sans-serif !important;
}

label {
    color:white !important;
    font-family: 'Comfortaa',sans-serif !important;
}

button {
    color: black !important;
    background-color: #ff8c00!important;
    font-family: 'Comfortaa',sans-serif !important  ;
   text-transform: none !important;
   font-size:110% !important;
}

#form button {
    margin-top:30px;
    max-height:40px !important;
    

}




#form button :hover {
    background-color: red !important;
}


