#mensajes{
    background-color: #201d48;
    position: fixed;
    top:40%;
    width:60%;
    left:40%;
    height:60%;
    border:1px solid #ff8c00;
    border-radius: 20px;
    padding:20px;
    display:flex;
    
}

.chat,#nuevoChat{
    background-color: salmon;
    height:16.6%;
    display:flex;
}

.imagenPerfil{
    background-color: black;
    width:30%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombreUsuario{
    background-color: aqua;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left:auto; */
}

#chatList{
    background-color: yellow;
    width:30%;
    /* overflow-y: scroll; */
    overflow: auto;
}

#chatList  *{
    border-bottom: 1px solid #ff8c00;
}

/* #chatList > *:not(:first-child){
margin-top:5%;
} */

#chatActual{
    background-color: red;
    width:70%;
}


#header-feed {
    position: fixed;
    background-color: #12111e;
  
}

#nuevoChat{
    background-color: blue;
    
 
   
}